.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width:10rem;
    height: 6rem;
    padding-bottom: 4rem;
}
.headermenu{
    list-style: none;
    display: flex;
    gap:2rem;
    color: white;
}
.headermenu>li:hover {
    cursor: pointer;
    color: var(--orange);
}
