.testi{
    display: flex;
    gap: 1rem;
    padding: 0 2 rem;
}
.leftt{
    display: flex;
    flex:1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
}
.leftt>:nth-child(1){
    color: var(--orange);
    font-weight: bold;
}
.leftt>:nth-child(2),.leftt>:nth-child(3){
    font-weight: bold;
    font-size: 3rem;
}
.leftt>:nth-child(4){
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
}
.rightt{
    flex:1;
    position: relative;
}
.rightt>img{
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top:2rem;
}
.rightt>:nth-child(1){
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid orange;
    background-color: transparent;
    right: 9rem;
    top:0.9rem;
}
.rightt>:nth-child(2){
    position: absolute;
    width: 17rem;
    height: 19rem;
    right: 7rem;
    top:4rem;
    background: var(--planCard);
}
.arrows{
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    gap: 1rem;
}
.arrows>img{
    width: 1.5rem;
    cursor: pointer;
}